{% extends 'base_login.html' %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/vendor/jquery.steps/jquery.steps.css' %}">
{% endblock css %}



{% block title %}
    {% trans "Ejemplo JS" %}
{% endblock title %}


{% block content %}
    <h1 class="login100-form-title text-center fs-50 m-t-20">JS</h1>
    <div class="container m-t-50">
        <div id="steps">
        
            <h3>{% trans "Traducción simple" %}</h3>
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="wrap-login100-no-w p-5">
                            <span id="hola_mundo" class="replace_translate login100-form-title p-b-32 no-block text-center fs-50">
                                    
                                Hola Mundo
                                
                            </span>
                        </div>  
                    </div>
                </div>
            </section>


            <h3>{% trans "Palabras ambiguas" %}</h3>
            <section>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-login100-no-w p-5"> 
                            <span id="pais" class="replace_translate login100-form-title p-b-32 no-block text-center fs-50">

                                Estado
                                <p>país</p>

                            </span>
                        </div>  
                    </div>
                    <div class="col-6">
                        <div class="wrap-login100-no-w p-5">
                            <span id="estatus" class="replace_translate login100-form-title p-b-32 no-block text-center fs-50">

                                Estado
                                <p>estatus</p>

                            </span>
                        </div>  
                    </div>
                </div>
            </section>


            <h3>{% trans "Singular o plural" %}</h3>
            <section>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-login100-no-w p-5">
                            <span class="login100-form-title p-b-32">
                                {% trans "Singular o plural" %}
                            </span>
                            <div class="m-b-36">
                                <span class="txt1 p-b-11">
                                    {{ form.cantidad.label }}
                                </span>
                                <div class="wrap-input100 validate-input" >
                                    {{ form.cantidad }}
                                    <span class="focus-input100"></span>
                                </div>
                            </div>

                            <div class="flex-sb-m w-full p-b-48">
                            </div>

                            <div class="container-login100-form-btn">
                                <button id="carrito" class="replace_translate register100-form-btn btn-block" type="button">
                                    {% trans "Agregar al carrito" %}
                                </button>
                            </div>
                                
                        </div>  
                    </div>
                            
                    <!--Response-->
                    <div class="col-6 bg-light border border-dark rounded response-area custom-scrollable">
                                
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var nextURL = "{% url 'i18n_account:login' %}"
        $('#form').on('submit', function(e){
            e.preventDefault();
            $.get("{% url 'examples:add_to_cart' %}",
            {cantidad: $('#id_cantidad').val()}
            ,function(response){
                $('.response-area').append($('<p>', { text: response['message'] }));
            });
        });
    </script>
    <script src="{% static 'libs/vendor/jquery.steps/jquery.steps.js' %}"></script>
    <script src="{% static 'js/examples/example.js' %}"></script>
    <script src="{% static 'js/examples/example_js.js' %}"></script>
{% endblock scripts %}