{% extends 'base_login.html' %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/vendor/jquery.steps/jquery.steps.css' %}">
{% endblock css %}



{% block title %}
    {% trans "Bienvenido | Inicio de sesión" %}
{% endblock title %}


{% block content %}
<div id="steps">
    <h3>{% trans "Traducción simple" %}</h3>
    <section>
        <form action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <!--CONTROLS-->
                <div class="col-12">
                    <div class="wrap-login100-no-w p-5">
                        <form class="login100-form validate-form flex-sb flex-w">
                            <span class="login100-form-title p-b-32 no-block text-center fs-100">
                                {% trans "Hola Mundo!" %}
                            </span>
                           
                        </form>
                    </div>  
                </div>
            </div>
        </form>
    </section>
    <h3>Palabras ambiguas</h3>
    <section>
        <form action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <!--CONTROLS-->
                <div class="col-6">
                    <div class="wrap-login100-no-w p-5">
                        <form class="login100-form validate-form flex-sb flex-w">
                            <span class="login100-form-title p-b-32 no-block text-center fs-50">
                                {% trans "Estado" context "País"%}
                            </span>
                            
                           
                        </form>
                    </div>  
                </div>
                <div class="col-6">
                    <div class="wrap-login100-no-w p-5">
                        <form class="login100-form validate-form flex-sb flex-w">
                            <span class="login100-form-title p-b-32 no-block text-center fs-50">
                                {% trans "Estado" context "Actividad"%}
                            </span>
                        </form>
                    </div>  
                </div>
            </div>
        </form>
    </section>
    <h3>{% trans "Singular o plural" %}</h3>
    <section>
        <form action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <!--CONTROLS-->
                <div class="col-6">
                    <div class="wrap-login100-no-w p-5">
                        <form class="login100-form validate-form flex-sb flex-w">
                            <span class="login100-form-title p-b-32">
                                {% trans "Singular o plural" %}
                            </span>
                            <div class="m-b-36">
                                <span class="txt1 p-b-11">
                                    {{ form.singular_or_plural.label }}
                                </span>
                                <div class="wrap-input100 validate-input" >
                                    {{ form.singular_or_plural }}
                                    <span class="focus-input100"></span>
                                </div>
                            </div>

                            <div class="flex-sb-m w-full p-b-48">
                            </div>

                            <div class="container-login100-form-btn">
                                <button class="register100-form-btn btn-block" type="button">
                                    {% trans "Obtener respuesta" %}
                                </button>
                            </div>
                        </form>
                    </div>  
                </div>
                
                <!--Response-->
                <div class="col-6 bg-light border border-dark rounded response-area custom-scrollable">
                    
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'libs/vendor/jquery.steps/jquery.steps.js' %}"></script>
    <script src="{% static 'js/account/example.js' %}"></script>
{% endblock scripts %}